<div *ngIf="resolved; else loading2">
  <!-- row 1 -->
  <!-- <div class="relative flex flex-col min-w-0 break-words shadow-soft-2xl bg-white rounded-2xl mb-1 bg-clip-border">
    <div class="flex-auto p-6"> -->
  <div style="position:-webkit-sticky; position:sticky; top:0;z-index:100;"
  class="relative flex flex-col mb-4 min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
    <div class="flex-auto p-1">
      <div class="wrapper">
      <h5 class="typing-demo">Apps Link
      </h5>
    </div>
    </div>
  </div>
      <div class="flex flex-wrap -mx-1 lg:-mx-3">
        <div class="my-1 px-1 w-full max-w-full md:w-4/12 lg:my-6 lg:px-6">
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto">
              <div class="wrapper bg-gray-400 antialiased text-gray-900">
                <div style="cursor: pointer;" onclick="window.open('http://192.168.9.47/plan_pdm');">
                  <img src="assets/img/am.png" style="width: 50%;"
                    class="w-full object-cover object-center rounded-lg center shadow-md" style="margin-bottom: 20%; margin-top: 6%;">
                  <div class="relative px-4 -mt-16  ">
                    <div class="p-6 rounded-lg shadow-lg">

                      <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">PDM CHEKSHEET</h4>

                      <div class="mt-1 mb-2">
                        <span class="text-gray-600 text-sm">PDM checksheet is an application for checking machine conditions in predictive maintenance activities oc1, oc2, fsb.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="my-1 px-1 w-full max-w-full md:w-4/12 lg:my-6 lg:px-6">
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-6">
              <div class="wrapper bg-gray-400 antialiased text-gray-900">
                <div style="cursor: pointer;" onclick="window.open('http://192.168.9.47/plan_am/login');">
                  <img src="assets/img/3.png" alt=" random imgee" style="width: 50%;"
                    class="w-full object-cover object-center center rounded-lg shadow-md" style="margin-bottom: 15%;margin-top: 6%;">
                  <div class="relative px-4 -mt-16  ">
                    <div class="p-6 rounded-lg shadow-lg">

                      <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">AM CHEKSHEET</h4>

                      <div class="mt-1">
                        <span class="text-gray-600 text-sm">AM checksheet is a finding data input application that is connected directly to the maintenance planner and SAP data directly.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="my-1 px-1 w-full max-w-full md:w-4/12 lg:my-6 lg:px-6">
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-6">
              <div class="wrapper bg-gray-400 antialiased text-gray-900">
                <div style="cursor: pointer;" onclick="window.open('http://192.168.9.47/kluber_lubrication');">
                  <img src="assets/img/kluber.png" alt=" random imgee" style="width: 110%;"
                    class="w-full object-cover mt-2 object-center center rounded-lg shadow-md" style="margin-bottom: 15%;margin-top: 6%;">
                  <div class="relative px-4 -mt-16  ">
                    <div class="p-6 rounded-lg shadow-lg">

                      <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">Lubrication System</h4>

                      <div class="mt-1">
                        <span class="text-gray-600 text-sm">the application is used to edit the lubrication information used in the maintenance process on OC1, OC2</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="my-1 px-1 w-full max-w-full md:w-4/12 lg:my-6 lg:px-6">
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-6">
              <div class="wrapper bg-gray-400 antialiased text-gray-900">
                <div style="cursor: pointer;" onclick="window.open('comingsoon');">
                  <img src="assets/img/3.png" alt=" random imgee"
                    class="w-full object-cover object-center rounded-lg shadow-md">
                  <div class="relative px-4 -mt-16  ">
                    <div class="bg-white p-6 rounded-lg shadow-lg">

                      <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">Coming Soon</h4>

                      <div class="mt-1">
                        <span class="text-gray-600 text-sm">project Coming Soon</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- </div>
  </div> -->
</div>
<ng-template #loading2>
  <ngx-spinner  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"type="ball-beat"> <p style="font-size: 20px; color: white">Loading...</p></ngx-spinner>
</ng-template>
