<div *ngIf="resolved; else loading2">
  <!-- row 1 -->
  <!-- <div class="relative flex flex-col min-w-0 break-words shadow-soft-2xl bg-white rounded-2xl mb-1 bg-clip-border">
    <div class="flex-auto p-6"> -->
  <div style="position:-webkit-sticky; position:sticky; top:0;z-index:100;"
    class="relative flex flex-col mb-4 min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
    <div class="flex-auto p-1">
      <div class="wrapper">
        <h5 class="typing-demo">PDM Monitoring - OCI 2
        </h5>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3">
    <!-- card1 -->
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans font-semibold leading-normal text-sm">
                  Total Asset
                </p>
                <h5 class="mb-0 font-bold">
                  {{totalasset}}
                  <span> Asset</span>
                </h5>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
                <i class="ni leading-none ni-money-coins text-lg relative top-3.5 text-white"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans font-semibold leading-normal text-sm">
                  Finish Check
                </p>
                <h5 class="mb-0 font-bold">
                  {{this.finish2.length}}
                  <span class="text-lime-500 ml-1">({{(this.finish2.length * 100 / totalasset).toFixed(1)}} %)</span>
                </h5>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
                <i class="ni leading-none ni-money-coins text-lg relative top-3.5 text-white"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans font-semibold leading-normal text-xs">
                  Total Good And SatisFactory
                </p>
                <h5 class="mb-0 font-bold">
                  {{good+satis}}
                  <span class="text-lime-500 ml-1">({{((good+satis) * 100 / totalasset).toFixed(1)}} %)</span>
                </h5>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
                <i class="ni leading-none ni-money-coins text-lg relative top-3.5 text-white"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
      <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <div class="flex flex-row -mx-3">
            <div class="flex-none w-2/3 max-w-full px-3">
              <div>
                <p class="mb-0 font-sans font-semibold leading-normal text-xs">
                  Total Unsatisactory and Unacceptable
                </p>
                <h5 class="mb-0 font-bold">
                  {{unsatisf+unacc}}
                  <span class="text-lime-500 ml-1">({{((unsatisf+unacc) * 100 / totalasset).toFixed(1)}} %)</span>
                </h5>
              </div>
            </div>
            <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
                <i class="ni leading-none ni-money-coins text-lg relative top-3.5 text-white"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3">
    <div class="w-full px-1 py-1 mx-auto">
      <div class="flex flex-wrap -mx-1 lg:-mx-3">
        <div class="my-1 px-1 w-full max-w-full md:w-full lg:my-6 lg:px-6">
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-6">
              <p class="text-left text-md">List Job Finish Today
                <button *ngIf="showPaginate == 5" (click)="generatePaginate()"
                  class="inline-block px-0 py-3 mb-0 font-bold leading-normal ml-4 uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer ease-soft-in bg-150 text-md active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 text-slate-700">Click
                  To Export Data</button>
                <button *ngIf="showPaginate != 5" (click)="print()"
                  class="inline-block px-0 py-3 mb-0 ml-4 font-bold leading-normal uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer ease-soft-in bg-150 text-md active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 text-slate-700"><i
                    class="mr-1 fas fa-file-pdf text-md"></i> PDF </button>
                <button
                  class="inline-block px-0 py-3 mb-0 ml-4 font-bold leading-normal uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer ease-soft-in bg-150 text-md active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 text-slate-700"
                  *ngIf="showPaginate != 5" (click)="exportTable()"><i class="fa fa-file-excel-o fa-1"></i>
                  Excel</button>
                  <button
                  class="inline-block px-0 py-3 mb-0 ml-4 font-bold leading-normal uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer ease-soft-in bg-150 text-md active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 text-slate-700"
                  *ngIf="showPaginate != 5" (click)="done()"><i class="fa fa-window-close fa-1"></i>
                  Reset</button>
              </p>
              <div class="flex items-center text-center mb-4">
                <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease-soft">
                  <span
                    class="text-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
                    <i class="fas fa-search"></i>
                  </span>
                  <input type="text"
                    class="pl-8.75 text-sm focus:shadow-soft-primary-outline ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"
                    placeholder="Type here..." name="search" [(ngModel)]="searchText" />
                </div>
              </div>
              <div class="overflow-x-auto relative shadow-md sm:rounded-lg" id="prinsection" #printsection>
                <table border="1" class="w-full text-sm text-left text-gray-500 text-md dark:text-gray-400 text-center">
                  <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                    <tr>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        No
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        Device Name
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        2H
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        R
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        S
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        T
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        Thermal
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        Frequency
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        CF+ 2H
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        VC
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        PIC
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        Execution Date
                      </th>
                      <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                        Status
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-b border-gray-200 dark:border-gray-700"
                      *ngFor="let header of totalfinishtoday2| filter:searchText | paginate: { currentPage: currentPage, itemsPerPage: showPaginate }; let i = index;">
                      <th
                        class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap text-white" bgcolor="#878790">
                        {{(currentPage-1) * showPaginate + i + 1}}
                      </th>
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{header.device_name}}
                      </td>
                      <!-- <td *ngIf="header.Two_H < 2" bgcolor="green" class="text-white text-center"> -->
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{header.Two_H}}
                      </td>
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{header.R}}
                      </td>
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{header.S}}
                      </td>
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{header.T}}
                      </td>
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{header.Thermal}}
                      </td>
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{header.Frequency}}
                      </td>
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{header.CF}}
                      </td>
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{header.VC}}
                      </td>
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{header.PIC}}
                      </td>
                      <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        {{header.dodate}}
                      </td>
                      <td *ngIf="header.Stat == 'Good'" class="py-4 px-6 text font-semibold text-center" style="color: #000000;" bgcolor="#94D977">
                        {{header.Stat}}
                      </td>
                      <td *ngIf="header.Stat == 'Satisfactory'" class="py-4 px-6 font-semibold text-center"
                        bgcolor="#F5FF25" style="color: #000000;">
                        {{header.Stat}}
                      </td>
                      <td *ngIf="header.Stat == 'Unsatisfactory'" style="color: #000000;" class="py-4 px-6 font-semibold text-center"
                        bgcolor="#FED033">
                        {{header.Stat}}
                      </td>
                      <td *ngIf="header.Stat == 'Unacceptable'" style="color: #000000;" class="py-4 px-6 font-semibold text-center" bgcolor="#EA8686">
                        {{header.Stat}}
                      </td>
                      <td *ngIf="header.Stat == 0 || header.Stat == '-'" class="py-4 px-6  font-semibold text-center">
                        -
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <pagination-controls class="text-center" (pageChange)="currentPage = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3">
    <div class="w-full px-1 py-1 mx-auto">
      <div class="flex flex-wrap -mx-1 lg:-mx-3">
        <div class="my-1 px-1 w-full max-w-full md:w-7/12 lg:my-6 lg:px-6">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white mb-1 shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
              <h5 class="text-center">OCI 1</h5>
            </div>
          </div>
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-6">
              <canvas id="donut" width="310" height="300"></canvas>
              <div class="px-6 pt-4 pb-2 text-center">
                <span style="background-color: green;"
                  class="text-white inline-block bg-red rounded-full px-3 py-1 text-xs font-semibold mr-2 mb-2">Good:
                  {{good}}</span>
                <span style="background-color: rgb(230, 230, 0);"
                  class="text-white inline-block bg-red rounded-full px-3 py-1 text-xs font-semibold mr-2 mb-2">SatisFactory:
                  {{satis}}</span>
                <span style="background-color: orange;"
                  class="text-white inline-block bg-red rounded-full px-3 py-1 text-xs font-semibold mr-2 mb-2">UnSatisFactory:
                  {{unsatisf}}</span>
                <span style="background-color: red;"
                  class="text-white inline-block bg-red rounded-full px-3 py-1 text-xs font-semibold mr-2 mb-2">Unacceptable:
                  {{unacc}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="my-1 px-1 w-full max-w-full md:w-5/12 lg:my-6 lg:px-6">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white mb-1 shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
              <h5 class="text-center">List Abnormal Asset</h5>
            </div>
          </div>
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-6">
              <p class="text-center" style="color: red;">Click Device Name For Show Chart Abnormal Asset</p>
              <div class="flex items-center text-center mb-4">
                <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease-soft">
                  <span
                    class="text-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
                    <i class="fas fa-search"></i>
                  </span>
                  <input type="text"
                    class="pl-8.75 text-sm focus:shadow-soft-primary-outline ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"
                    placeholder="Type here..." name="search" [(ngModel)]="searchText2" />
                </div>
              </div>
              <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                <table border="1" style="border-collapse: collapse;" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                    <tr>
                      <th scope="col" class="py-3 px-6 text-white" bgcolor="#878790">
                        No
                      </th>
                      <th scope="col" class="py-3 px-6 text-white" bgcolor="#878790">
                        Device
                      </th>
                      <th scope="col" class="py-3 px-6 text-white" bgcolor="#878790">
                        Status
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-b border-gray-200 dark:border-gray-700"
                      *ngFor="let getdata of totalabnormallisttrue| filter:searchText2 |paginate: { id:'pagination2', currentPage: currentPage2, itemsPerPage: 5 }; let i = index;">
                      <th scope="row"
                        class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap text-white" bgcolor="#878790">
                        {{(currentPage2-1) * 5 + i + 1}}
                      </th>
                      <td (click)="data(getdata.device_name)" class="py-4 px-6">
                        {{getdata.device_name}}
                      </td>
                      <td *ngIf="getdata.Stat == 'Unsatisfactory'" style="color: #000000;" class="py-4 px-6 font-semibold text-center"
                      bgcolor="#FED033">
                        {{getdata.Stat}}
                      </td>
                      <td *ngIf="getdata.Stat == 'Unacceptable'" style="color: #000000;" class="py-4 px-6 font-semibold text-center" bgcolor="#EA8686">
                        {{getdata.Stat}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <pagination-controls class="text-center" id="pagination2" (pageChange)="currentPage2 = $event">
            </pagination-controls>
          </div>
        </div>
        <div class="w-full px-1 py-1 mx-auto mt-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white mb-1 shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
              <h5 class="text-center">List Abnormal Asset</h5>
            </div>
          </div>
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-6">
              <p class="text-center" style="color: red;">Device Name : {{funloc}}</p>
              <div class="flex flex-wrap -mx-1 lg:-mx-3">
                <div class="my-1 px-1 w-full max-w-full md:w-4/12 lg:my-6 lg:px-6">
                  <div
                    class="relative flex flex-col min-w-0 break-words bg-white mb-1 shadow-soft-lg rounded-2xl bg-clip-border">
                    <div class="flex-auto p-2">
                      <h5 class="text-center">Vibration</h5>
                    </div>
                  </div>
                  <canvas id="dum" width="310" height="300"></canvas>
                </div>
                <div class="my-1 px-1 w-full md:w-4/12 lg:my-6 lg:px-6">
                  <div
                    class="relative flex flex-col min-w-0 break-words bg-white mb-1 shadow-soft-lg rounded-2xl bg-clip-border">
                    <div class="flex-auto p-2">
                      <h5 class="text-center">Ampere</h5>
                    </div>
                  </div>
                  <canvas id="dumdum" width="310" height="300"></canvas>
                </div>
                <div class="my-1 px-1 w-full md:w-4/12 lg:my-6 lg:px-6">
                  <div
                    class="relative flex flex-col min-w-0 break-words bg-white mb-1 shadow-soft-lg rounded-2xl bg-clip-border">
                    <div class="flex-auto p-2">
                      <h5 class="text-center">Temperature</h5>
                    </div>
                  </div>
                  <canvas id="dumdumdum" width="310" height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div>
  </div> -->
</div>
<ng-template #loading2>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-beat">
    <p style="font-size: 20px; color: white">{{deskripsi}}</p>
  </ngx-spinner>
</ng-template>
