<div *ngIf="resolved; else loading2">
  <!-- row 1 -->
  <div class="relative flex flex-col min-w-0 break-words shadow-soft-2xl bg-white rounded-2xl mb-1 bg-clip-border">
    <div class="flex-auto p-6">
      <div
        class="relative flex flex-col mb-4 min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
        <div class="flex-auto p-4">
          <h5 class="text-center">PDM Monitoring - FSB
          </h5>
        </div>
      </div><div class="flex flex-wrap -mx-3">
  <!-- card1 -->
  <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
    <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">
                Total Asset
              </p>
              <h5 class="mb-0 font-bold">
                2864
                <span class="leading-normal text-sm font-weight-bolder text-lime-500">+55%</span>
              </h5>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
              <i class="ni leading-none ni-money-coins text-lg relative top-3.5 text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
    <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">
                On Progress Check
              </p>
              <h5 class="mb-0 font-bold">
                185
                <span class="leading-normal text-sm font-weight-bolder text-lime-500">+55%</span>
              </h5>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
              <i class="ni leading-none ni-money-coins text-lg relative top-3.5 text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
    <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">
                Total Good
              </p>
              <h5 class="mb-0 font-bold">
                93.5%
                <span class="leading-normal text-sm font-weight-bolder text-lime-500">+55%</span>
              </h5>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
              <i class="ni leading-none ni-money-coins text-lg relative top-3.5 text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
    <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">
                Total SatisFactory
              </p>
              <h5 class="mb-0 font-bold">
                933
                <span class="leading-normal text-sm font-weight-bolder text-lime-500">+55%</span>
              </h5>
            </div>
          </div>
          <div class="px-3 text-right basis-1/3">
            <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
              <i class="ni leading-none ni-money-coins text-lg relative top-3.5 text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-wrap -mx-3">
  <div class="w-full px-1 py-1 mx-auto">
    <div class="flex flex-wrap -mx-1 lg:-mx-3">
      <div class="my-1 px-1 w-full max-w-full md:w-full lg:my-6 lg:px-6">
        <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
          <div class="flex-auto p-6">
            <p class="text-left">List Job Finish Today</p>
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                  <tr>
                    <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
                      Product name
                    </th>
                    <th scope="col" class="py-3 px-6">
                      Color
                    </th>
                    <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
                      Category
                    </th>
                    <th scope="col" class="py-3 px-6">
                      Price
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row"
                      class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                      Google Pixel Phone
                    </th>
                    <td class="py-4 px-6">
                      Gray
                    </td>
                    <td class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
                      Phone
                    </td>
                    <td class="py-4 px-6">
                      $799
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"
                      class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                      Apple Watch 5
                    </th>
                    <td class="py-4 px-6">
                      Red
                    </td>
                    <td class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
                      Wearables
                    </td>
                    <td class="py-4 px-6">
                      $999
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-wrap -mx-3">
  <div class="w-full px-1 py-1 mx-auto">
    <div class="flex flex-wrap -mx-1 lg:-mx-3">
      <div class="my-1 px-1 w-full max-w-full md:w-1/2 lg:my-6 lg:px-6">
        <div class="relative flex flex-col min-w-0 break-words bg-white mb-1 shadow-soft-lg rounded-2xl bg-clip-border">
          <div class="flex-auto p-4">
            <h5 class="text-center">OCI 1</h5>
          </div>
        </div>
        <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
          <div class="flex-auto p-6">
            <canvas id="donut" width="310" height="300"></canvas>
          </div>
        </div>
      </div>
      <div class="my-1 px-1 w-full max-w-full md:w-1/2 lg:my-6 lg:px-6">
        <div class="relative flex flex-col min-w-0 break-words bg-white mb-1 shadow-soft-lg rounded-2xl bg-clip-border">
          <div class="flex-auto p-4">
            <h5 class="text-center">List Abnormal Asset</h5>
          </div>
        </div>
        <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
          <div class="flex-auto p-6">
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                  <tr>
                    <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
                      Product name
                    </th>
                    <th scope="col" class="py-3 px-6">
                      Color
                    </th>
                    <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
                      Category
                    </th>
                    <th scope="col" class="py-3 px-6">
                      Price
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row"
                      class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                      Google Pixel Phone
                    </th>
                    <td class="py-4 px-6">
                      Gray
                    </td>
                    <td class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
                      Phone
                    </td>
                    <td class="py-4 px-6">
                      $799
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"
                      class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                      Apple Watch 5
                    </th>
                    <td class="py-4 px-6">
                      Red
                    </td>
                    <td class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
                      Wearables
                    </td>
                    <td class="py-4 px-6">
                      $999
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"
                      class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                      Apple Watch 5
                    </th>
                    <td class="py-4 px-6">
                      Red
                    </td>
                    <td class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
                      Wearables
                    </td>
                    <td class="py-4 px-6">
                      $999
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"
                      class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                      Apple Watch 5
                    </th>
                    <td class="py-4 px-6">
                      Red
                    </td>
                    <td class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
                      Wearables
                    </td>
                    <td class="py-4 px-6">
                      $999
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"
                      class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                      Apple Watch 5
                    </th>
                    <td class="py-4 px-6">
                      Red
                    </td>
                    <td class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
                      Wearables
                    </td>
                    <td class="py-4 px-6">
                      $999
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full px-1 py-1 mx-auto mt-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white mb-1 shadow-soft-lg rounded-2xl bg-clip-border">
            <div class="flex-auto p-4">
              <h5 class="text-center">List Abnormal Asset</h5>
            </div>
          </div>
        <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
          <div class="flex-auto p-6">
            <div class="flex flex-wrap -mx-1 lg:-mx-3">
              <div class="my-1 px-1 w-full max-w-full md:w-4/12 lg:my-6 lg:px-6">
                <canvas id="dum" width="310" height="300"></canvas>
              </div>
              <div class="my-1 px-1 w-full md:w-4/12 lg:my-6 lg:px-6">
                <canvas id="dumdum" width="310" height="300"></canvas>
              </div>
              <div class="my-1 px-1 w-full md:w-4/12 lg:my-6 lg:px-6">
                <canvas id="donutku" width="310" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<ng-template #loading2>
  <ngx-spinner type="ball-beat"></ngx-spinner>
</ng-template>
