<div *ngIf="resolved; else loading2">
  <div class="relative flex flex-col mt-2 mb-4 min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
    <div class="flex-auto p-4">
      <div class="wrapper">
        <h5 class="typing-demo">Big 5 Error message</h5>
      </div>
    </div>
  </div>
  <div class="relative flex flex-col mt-2 mb-4 min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
    <div class="flex-auto p-4">
      <div class="wrapper">
        <select [ngModel]="machineA" (ngModelChange)="bigFiveByMachine($event)" name="sel2"
          style="font-size: 20px;font-weight: bold;">
          <option class="text-xl bold" [value]="i" *ngFor="let i of machine">{{i}}</option>
        </select>
        <mbsc-calendar [(ngModel)]="start">My Birthday</mbsc-calendar>
        <div class="calendar-wrapper">
          <mat-form-field appearance="legacy">
            <mat-label>Choose Date Range</mat-label>
            <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
              <input matStartDate placeholder="Start Date" formControlName="start" #dateRangeStart>
              <input matEndDate placeholder="End Date" formControlName="end" #dateRangeEnd
                (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3">
    <div class="w-full px-1 py-1 mx-auto">
      <div class="flex flex-wrap -mx-1 lg:-mx-4">
        <div class="my-1 px-1 w-full max-w-full md:w-full lg:my-6 lg:px-6">
          <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
            <div class="flex-auto p-6">
              <canvas id="dum" width="400" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading2>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-beat">
    <p style="font-size: 20px; color: white">{{deskripsi}}</p>
  </ngx-spinner>
</ng-template>
