<div *ngIf="resolved; else loading2">
  <div style="position:-webkit-sticky; position:sticky; top:0;z-index:100;"
    class="relative flex flex-col mb-4 min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
    <div class="flex-auto p-1">
      <div class="wrapper">
        <h5 class="typing-demo">Injection Molder
        </h5>
      </div>
    </div>
  </div>
  <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border mb-1">
    <div class="w-full px-1 py-1 mx-auto">
      <div class="flex flex-wrap -mx-1 lg:-mx-4">
        <div class="my-1 px-1 w-full max-w-full md:w-4/12 lg:my-6 lg:px-6">
          <div id="content">
            <h5 class="text-center mt-2">Click For Detail</h5>
            <div id="number_container" class="mb-2">
              <ul>
                <li>
                  <button routerLink="/bottleshower" class="button button4 rounded-2xl">Lubricantion Chart</button>
                </li>
                <li><button routerLink="/bottleshower" class="button button4 rounded-2xl">Manual</button></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="my-1 px-1 w-full max-w-full md:w-8/12 lg:my-6 lg:px-6">
          <h5 class="text-center mt-2">Injection Molder</h5>
          <img src="assets/img/injectionmodel.png" style=" width: 100%;
        width: 90%;
        max-height: auto;" class="mb-2 center">
        </div>
      </div>
    </div>
  </div>
  <div class="relative flex flex-col min-w-0 break-words bg-white mb-1 shadow-soft-lg rounded-2xl bg-clip-border">
    <div class="flex-auto p-4">
      <h5 class="text-center">Detail : </h5>
      <div class="overflow-x-auto relative shadow-lg sm:rounded-lg">
      <table border="1" class="w-full text-lg text-left text-gray-500 dark:text-gray-400 text-center">
        <tbody>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <td class="py-4 px-6 font-medium whitespace-nowrap bg-gray-50" style="color: black">
              coba aja
            </td>
            <td width="100" class="font-medium p-6 mt-2 bg-gray-50" style="color: black;">
              <p>Tidak Ada Data</p>
            </td>
            <td width="100" class="font-medium p-6 mt-2 bg-gray-50" style="color: black;">
              <p>Tidak Ada Data</p>
            </td>
            <td width="100" class="font-medium p-6 mt-2 bg-gray-50" style="color: black;">
              <p>Tidak Ada Data</p>
            </td>
            <td width="100" class="font-medium p-6 mt-2 bg-gray-50" style="color: black;">
              <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn" />
              <label for="modal-btn">Open Modal<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                  preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="M21 8a1 1 0 0 0 1-1V3a1 1 0 0 0-.08-.38a1 1 0 0 0-.54-.54A1 1 0 0 0 21 2h-4a1 1 0 0 0 0 2h1.59L12 10.59L5.41 4H7a1 1 0 0 0 0-2H3a1 1 0 0 0-.38.08a1 1 0 0 0-.54.54A1 1 0 0 0 2 3v4a1 1 0 0 0 2 0V5.41L10.59 12L4 18.59V17a1 1 0 0 0-2 0v4a1 1 0 0 0 .08.38a1 1 0 0 0 .54.54A1 1 0 0 0 3 22h4a1 1 0 0 0 0-2H5.41L12 13.41L18.59 20H17a1 1 0 0 0 0 2h4a1 1 0 0 0 .38-.08a1 1 0 0 0 .54-.54A1 1 0 0 0 22 21v-4a1 1 0 0 0-2 0v1.59L13.41 12L20 5.41V7a1 1 0 0 0 1 1Z" />
                </svg></label>
              <div class="modal">
                <div class="modal-wrap xl:ml-68.5">
                  <img src="https://assets.codepen.io/1462889/sl3.jpg" alt="">
                  <div class="overflow-x-auto relative shadow-lg sm:rounded-lg">
                    <table style="width: 1200px;" class="w-full text-lg text-left text-gray-500 dark:text-gray-400 text-center">
                      <tbody>
                        <tr class="border-b border-gray-200 dark:border-gray-700">
                          <td class="py-4 px-6 font-medium whitespace-nowrap bg-gray-50" style="color: black">
                            coba aja
                          </td>
                          <td class="font-medium p-6 mt-2 bg-gray-50" style="color: black;">
                            <p>Tidak Ada Data</p>
                          </td>
                          <td class="font-medium p-6 mt-2 bg-gray-50" style="color: black;">
                            <p>Tidak Ada Data</p>
                          </td>
                          <td class="font-medium p-6 mt-2 bg-gray-50" style="color: black;">
                            <p>Tidak Ada Data</p>
                          </td>
                          <td class="font-medium p-6 mt-2 bg-gray-50" style="color: black;">
                            <p>Tidak Ada Data</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>

<ng-template #loading2>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-beat">
    <p style="font-size: 20px; color: white">{{deskripsi}}</p>
  </ngx-spinner>
</ng-template>
