  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❄
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❄
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❄
    </div>
  </div>
  <main
    class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all">
    <app-sidebar></app-sidebar>
    <div class="w-full px-6 mx-auto">
      <!-- <body  onload = "JavaScript:AutoRefresh(1000);"> -->
      <!-- <div *ngIf="resolved; else loading2"> -->
      <router-outlet>
      </router-outlet>
      <!-- </div> -->
      <!-- </body> -->
      <!-- <ng-template #loading2> -->
      <!-- </ng-template> -->
      <app-footer>
      </app-footer>
    </div>
  </main>
