<div [style.visibility]="(resolved === false) ? 'hidden' : 'visible' ">
  <div style="position:-webkit-sticky; position:sticky; top:0;z-index:100;"
    class="relative flex flex-col mb-4 min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
    <div class="flex-auto p-1">
      <div class="wrapper">
        <h5 class="typing-demo">Offline Packing
        </h5>
      </div>
    </div>
  </div>
  <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border p-6">
    <p style="color: red;" class="text-center mt-4">use a maximum zoom of 75 percent in the browser (PC)</p>
    <div class="overflow-x-auto relative shadow-lg sm:rounded-lg">
      <!-- <button (click)="show()" style="margin-top: 20px; margin-left: 70px;"
        class="button button4 rounded-2xl absolute">Lubrication
        Chart</button>` -->
        <button routerLink="/containeroffline" style="margin-top: 136px; margin-left: 530px;"
        class="button button4 rounded-2xl absolute">Container <br /> Conveyor</button>
        <button routerLink="/robopacker" style="margin-top: 340px; margin-left: 700px;"
        class="button button4 rounded-2xl absolute">Robo Packer</button>
        <button routerLink="/emptybox" style="margin-top: 165px; margin-left: 950px;"
        class="button button4 rounded-2xl absolute">Empty Box <br /> Conveyor</button>
        <button routerLink="/packconveyoroff" style="margin-top: 180px; margin-left: 1100px;"
        class="button button4 rounded-2xl absolute">Pack <br /> Conveyor</button>
        <button routerLink="/resealeroff" style="margin-top: 340px; margin-left: 880px;"
        class="button button4 rounded-2xl absolute">Resealer</button>
      <img src="assets/img/offlinepacking.jpg" style=" width: 100%;
        width: auto;
        max-height: 385px;" class="mb-6 center">
    </div>
  </div>
  </div>
  <div  [style.visibility]="(resolved === true) ? 'hidden' : 'visible' ">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-beat">
      <p style="font-size: 20px; color: white">{{deskripsi}}</p>
    </ngx-spinner>
  </div>
