<div *ngIf="resolved; else loading2">
  <div style="position:-webkit-sticky; position:sticky; top:0;z-index:100;"
    class="relative flex flex-col mb-4 min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
    <div class="flex-auto p-1">
      <div class="wrapper">
        <h5 class="typing-demo">Paste
        </h5>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3">
    <div class="w-full px-3 py-1 mx-auto">
      <div class="my-1 place-items-center max-w-full md:w-full lg:my-6 lg:px-6">
        <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-lg rounded-2xl bg-clip-border">
          <div class="overflow-x-auto relative shadow-lg p-4 sm:rounded-lg">
            <table class="w-full text-gray-500 dark:text-gray-400 text-center">
              <thead class="text-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                    No
                  </th>
                  <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                    Internal Product Name
                  </th>
                  <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                    Product Name
                  </th>
                  <th width="15%" scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                    Symbol
                  </th>
                  <th width="25%" scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                    Description
                  </th>
                  <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                    Application
                  </th>
                  <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                    Product Data Sheet
                  </th>
                  <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                    MSDS
                  </th>
                  <th scope="col" class="py-3 px-6 dark:bg-gray-800 text-white" bgcolor="#878790">
                    NSF
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let getdata of pastelist;let i = index;" class="border-b border-gray-200 dark:border-gray-700">
                  <th class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap text-white" bgcolor="#878790">
                    {{i+1}}
                  </th>
                  <td class="py-4 px-6 font-medium font-semibold" style="color: black;">
                    {{getdata.internal_product_code}}
                  </td>
                  <td class="py-4 px-6 font-medium font-semibold" style="color: black;">
                    {{getdata.product_name}}
                  </td>
                  <td class="font-medium font-semibold" style="color: black;">
                    <img width="100%" height="100%" src="http://192.168.152.32/kluber_lubrication/files/{{getdata.symbol}}">
                  </td>
                  <td class="py-4 text-xs px-6 font-medium font-semibold" style="color: black;">
                    {{getdata.description}}
                  </td>
                  <td class="py-4 text-xs px-6 font-medium font-semibold" style="color: black;">
                    {{getdata.application}}
                  </td>
                  <td (click)="getpdf(getdata.productdatasheet)" class="py-4 px-6 font-medium font-semibold" style="color: black;">
                    <i
                        class="mr-1 fas fa-file-pdf text-md"></i><br/> PDF
                  </td>
                  <td (click)="getpdf(getdata.msds)" class="py-4 px-6 font-medium font-semibold" style="color: black;">
                    <i
                        class="mr-1 fas fa-file-pdf text-md"></i><br/>PDF
                  </td>
                  <td (click)="getpdf(getdata.nsf)" class="py-4 px-6 font-medium font-semibold" style="color: black;">
                    <i
                        class="mr-1 fas fa-file-pdf text-md"></i><br/>PDF
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <ng-template #loading2>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-beat">
      <p style="font-size: 20px; color: white">{{deskripsi}}</p>
    </ngx-spinner>
  </ng-template>
